<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detection</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <header>
    <nav-bar></nav-bar>
  </header>

  <main>
    <h1>Pneumonia Detection</h1>

    <!-- View Prediction -->
    <div class="container-fluid text-dark p-5 text-center" style="background-color: #eeeeee;" id="predict">
      <h2>Pneumonia Classification</h2>
      <p>Pilih file chest x-ray dan tekan tombol <b>"Predict image"</b> untuk mengetahui kategori gambar</p>
      <div class="container">
        <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
          <input class="form-control" type="file" name="imagefile">
          <input class="btn btn-secondary mt-3 rounded-pill" type="submit" value="Predict image">
        </form>

      </div>
      
      {% if prediction %}
      <img src="{{image}}" alt="" width="250px">
      <p class="text-center pt-2"><b>Gambar chest x-ray masuk ke dalam kategori {{prediction}}</b></p>
      {% endif %}
    </div>

  </main>

  <footer>
    <footer-bar></footer-bar>
  </footer>

  <script src="{{ url_for('static', filename='script/component/nav-bar.js') }}" defer></script>
  <script src="{{ url_for('static', filename='script/component/footer-bar.js') }}" defer></script>

</body>

</html>